*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: mistyrose;
    margin: 10px;
    padding: 7px;
}
header{
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
    left: 35px;
    width: 100%;
}
nav > ul > li{
    display: inline-block;
    padding: 10px 5px;
    font-size: 20px;
}

nav > ul > li > a{
    text-decoration: none;
}

nav > ul > li:hover{
    background-color: mistyrose;
}

.headshot{
    position: absolute;
    padding-top: 40px;
    padding-left: 20px;
}
.geninfo{
    position: absolute;
    border-bottom: solid 0.5px white;
    padding-left: 340px;
    padding-top: 40px;
}
.skills{
    position: absolute;
    padding-left: 340px;
    padding-top: 360px;
}